

extends layout

block content
  .content-block
    .page-title
      h1= title
    p Jag blev intresserad och kom in i den komplementära terapin när jag började med Yoga 1996. Under åren 1998-99 gick jag kundaliniyoga utbildning för Tomas Frankell. Det gjorde mig nyfiken på hur vår kropp fungerar och dess fysiologi.  Jag läste vidare till massageterapeut på Axelssons hösten 1999. Där blev jag för första gången introducerad till Kinesiologi och gick grundutbildningen 2000-2001. Sen dess har jag varit nyfiken och fortsätter att utveckla mig själv inom den komplementära terapin.  
    p Det var bl.a. det som gjorde att jag övergav Kundaliniyogan för att göra YOGA.   
    p Yoga som den presenteras utifrån den filosofiska texten Patanjalis Yoga Sutras. T. Krishnamacharya var den lärare som återintroducerade yoga i vår tid. Han var lärare till några av vår tids yogamästare bl.a hans son TKV. Desikkachar. 2004 reste jag till Chennai  första gången  och har sedan dess fortsatt studera i denna tradition.  
    p Jag utökar verksamheten med hjälp av Maria Långström. Maria kom i kontakt med yoga 2007 och har sedan dess utövat yoga regelbundet. Hon har gått en yogalärarutbildning för Hanna Staaff och Karina Freij,  yogaskolan.se. 
    p Jag undervisar nu i traditionen av T Krishnamacharya.  
