extends layout

block content
  .content-block
    .page-title
      h1= title
    p agneta persevall 
    p ålstensgatan 1
    p 167 65 bromma
    p stockolm
    p mobil: 070 46 65 06
    p e-post: agneta@heladigyoga.se
    p maria långström
    p mobil: 073 947 07 74
    p www.yogaskola.se //Hanna Staaff och Karina Freij
    p www.yogaakademien.se // Helena Karlsson, anordnar yoga resor bl.a.
