
extends layout

block content
  .content-block
    .page-title
      h1= title 
    strong
      p Termins Start augusti 2015 vecka 34. Du har möjlighet att prova på yoga veckorna 34-37. Vilka dagar och tider, gå in under YOGA se under program och kursanmälan. 
    p Nytt för höstterminen är yoga för manliga deltagare och meditationsklassen på torsdagar.
    p Måndag kvällar kommer Maria Långström att undervisa, övrig tid  är det Agneta Persevall.
    strong
      p Med vänlig hälsning 
    p Agneta
