extends layout

block content
  .content-block
    .page-title
      h1= title
    p Huden är kroppens största organ. Med beröring påverkas hela din fysiska, mentala och känslomässiga kropp. Det finns många olika former av massage. Bästa sättet är att prova olika typer av massage. 
    p Svensk klassisk massage kan vara djupgående och handfast. Det får inte göra ont, ont, men det kan göra skönt ont. 
    p Lymfmassage är mjuka drag och strykningar mot hjärta, armhålor och ljumskar, som hjälper klientens lymfsystem. 
    p Regndroppsmassage, ört massage, de essentiella oljorna stryks ut på ryggraden. Huden suger upp oljornas näring, som stärker och helar. 
    p Välkommen att boka tider
